<!DOCTYPE html>
<html>
    <head>
        <title>
            About us
        </title>
    </head>
    <body>
        <h1>
            Hi Again,
        </h1>
        <p>
        this is space to watch as in the future we will be 
        adding more content here soon! Please navigate back
        <%= link_to 'home', root_path %>.
        </p>
    </body>
</html>