<!DOCTYPE html>
<html>
    <head>
        <title>
            This is a blog (HOME PAGE)
        </title>
    </head>
    <body>
        <h1>
            Welcome
        </h1>
        <p>
            Check out our <%= link_to 'about us', about_path %> page!
        </p>
    </body>
</html>